<template name="chatPage">


       {{#if IsAnimador}}
         {{#each get_grupos}}
            {{contarGrupos}}
         {{/each}}
       {{/if}}

    <br> 
      <h3>instancia Actual: {{getInstancia}} </h3>   
      <h2 title="{{getDescInt}}">{{getTituloInt}} </h2> 
    <br> 

     {{#if siInstancia_1}}
        <h4>Fecha de Inicio: {{fechaI}} </h4> 
     {{else}} 
        {{#if siInstancia0}}
          <h4>Tiempo para comenzar: {{getCountdown}}</h4>
        {{else}}  
          <h4>Tiempo de instancia: {{getCountdown}}</h4>
        {{/if}}   
     {{/if}} 

    {{#if IsAnimador}}
        <div class="form-group" >
            {{#if siInstancia_1}}
                <input type="button" id="preparar" name="preparar" Value="Comenzar" class="btn btn-primary" style="margin-top:-5px"/> 
            {{else}}
               
                  <input type="button" id="siguiente" name="siguiente" Value="Siguiente Inst." class="btn btn-primary" style="margin-top:-5px"/>    
             
                  <input type="button" id="edittime" name="edittime" Value="Editar Tiempo" class="btn btn-primary" style="margin-top:-5px"/> 
               
            {{/if}}   
        </div>
      
        {{#unless siInstancia_1}}
           {{#unless siInstancia0}}
          <ul class="nav nav-tabs" id="">
              {{#each get_grupos}}

                  <li class="{{#if grupoactivo _id}} active  {{/if}}"> <a id="{{_id}}" class="menugrupo" data-toggle="tab" href="">{{gr}} </a> </li>

              {{/each}}
          </ul>
          {{/unless}}
        {{/unless}}   

    {{/if}}  

  
    {{#if siInstancia2}} 
      <table class="pull-right" style="margin-right: 5%;" width="40%">
        <tr>
          <td width="60px">Aceptar</td> <td width="60px">Rechazar</td> <td width="40px">Debate</td>
        </tr>
      </table>	
    {{/if}}
   
    {{#if siInstancia4}} 
      <table class="pull-right" style="margin-right: 5%;" width="40%">
        <tr>
            <td width="60px">Aceptar</td> <td width="60px">Rechazar</td>
        </tr>
      </table>  
    {{/if}}

    {{#if siInstancia5}} 
      <table class="pull-right" style="margin-right: 0%;" width="40%">
        <tr>
          <td width="60px">Compartir Idea</td>
        </tr>
      </table>  
    {{/if}}
		

    {{> contenidoChat}}  

    <!--{{ > tooltips }}-->

    <style>
      .tooltip {
        z-index: 1001;
        pointer-events: none;
        transition: opacity .1s ease-out;
        opacity: 0;
      }

      .tooltip.hide {
        opacity: 0;
      }

      .tooltip.show {
        opacity: 1;
      }
    </style>
</template>



<template name="contenidoChat"> 
  

  <div id="div_instancia1" style="{{#if NoInstancia1y2}} display:none {{else}} display:block {{/if}}" > 
    <div id="chat">
      {{#each get_messages}}
        <div class="ibox collapsed">
          <div class="posts page " > 
            <!--votacion instancia 2 -->
            {{#if siInstancia2}} 
              <table class="pull-right" style="margin-right: 0%;" width="40%">
                <tr > 
                  <td width="60px">
                    <input type="radio" name="Votacion_{{_id}}" id="A_{{_id}}" class="radiovota2"/></td>
                  <td width="60px"> <input type="radio" name="Votacion_{{_id}}" id="R_{{_id}}" class="radiovota2"/></td>
                  <td width="40px"> <input type="radio" name="Votacion_{{_id}}" id="D_{{_id}}" class="radiovota2"/></td>
                </tr>
              </table>
              <br>
            {{/if}}

            <!--en la instacia 2 permite hacer click y desplegar los comentarios -->
            <div class="post  {{#if siInstancia2}} collapse-link{{/if}}" style=" {{#if siInstancia2}} cursor:pointer;{{/if}}" title=" {{#if siInstancia2}} ver comentarios {{/if}}" >
                  <div class="post-content">
                    <!--muestra la idea -->
                      <p>
                         {{messageBox}}                        
                      </p>
                  </div>
                  <!--Todos pueden comentar ideas -->
                  {{#if siInstancia2}} 
                    <a class="coment pull-right fa fa-comments" name="{{_id}}" title="Comentar Idea"></a>
                  {{/if}} 
                  <!-- Solo puede editar el autor 
                  {{#if siInstancia3}}
                    {{#if ownIdea}}
                      <a class="editar pull-right fa fa-edit" name="{{_id}}" title="Editar Idea"></a>
                    {{/if}}                          
                  {{/if}}-->
                 
                 
            </div>
            <!-- Comentarios, en el Deplegable -->
            {{#if siInstancia2}}
              <div id="" class="ibox-content">
                <div class="panel-body">                              
                  <div class="col-md-6 page pull-right">
                    <div>
                      {{#each get_comentarios}}
                        <p style="margin-left:40%">
                          {{comentario}}
                        </p>                      
                      {{/each}}
                    </div>
                  </div>
                </div>
              </div>
            {{/if}}  
          </div>
        </div>  
      {{/each}}
    </div>          
           
     
      <div class="form-group" id="piechat">
        {{#if siInstancia1}}
           <input type="text" id="messageBox" name="messageBox" class="form-control" placeholder="Ingresa tu idea" required />
            <input type="button" id="enviar" name="enviar" Value="Enviar" class="btn btn-primary" style="margin-top:-5px"/> 
        {{/if}}     
      </div>
     
  </div>



  <div id="div_instancia3" style="{{#if siInstancia3}} display:block {{else}} display:none{{/if}}">               
    <div id="chat">
      {{#each get_messagesI3}}         
        <div class="ibox collapsed">
          <div class="posts page " > 
            <!--en la instacia 2 permite hacer click y desplegar los comentarios -->
            <div class="post  {{#if siInstancia3}} collapse-link{{/if}}" style=" {{#if siInstancia3}} cursor:pointer;{{/if}}" title=" {{#if siInstancia3}} ver comentarios {{/if}}" >
                  <div class="post-content">
                    <!--muestra la idea -->
                      <p>
                          {{messageBox}}                        
                      </p>
                  </div>  
                  <!-- Solo puede editar el autor -->
                  {{#if siInstancia3}}
                    {{#if ownIdea}}
                      <a class="editar pull-right fa fa-edit" name="{{_id}}" title="Editar Idea"></a>
                    {{/if}}  
                  {{/if}}
            </div>  
            <!-- Comentarios, en el Deplegable -->
            {{#if siInstancia3}}
              <div id="" class="ibox-content">
                <div class="panel-body">                              
                  <div class="col-md-6 page pull-right">
                    <div>
                      {{#each get_comentarios}}
                        <p style="margin-left:40%">
                          {{comentario}}
                        </p>                      
                      {{/each}}
                    </div>
                  </div>
                </div>
              </div>
            {{/if}}  
          </div>
        </div>  
      {{/each}}
    </div>  
  </div>




  <div id="div_instancia4" style="{{#if siInstancia4}} display:block {{else}} display:none{{/if}}">               
    <div id="chat">
      {{#each get_messagesI3}}
        {{#if siInstancia4}} 
                <table class="pull-right" style="margin-right: 0%;" width="40%">
                  <tr > 
                    <td width="60px"><input type="radio" name="Votacion_{{_id}}" id="A_{{_id}}" class="radiovota4"/></td>
                    <td width="60px"> <input type="radio" name="Votacion_{{_id}}" id="R_{{_id}}" class="radiovota4"/></td>
                  </tr>
                </table>
                <br>
        {{/if}}          
        <div class="ibox collapsed">
          <div class="posts page " >   
            <!--en la instacia 2 permite hacer click y desplegar los comentarios -->
            <div class="post  " style="" title="" >
                  <div class="post-content">
                    <!--muestra la idea -->
                      <p>
                         {{messageBox}}                        
                      </p>
                  </div> 
            </div> 
          </div>
        </div>  
       {{/each}}
    </div>  
  </div>


   <div id="div_instancia5" style="{{#if siInstancia5}} display:block {{else}} display:none{{/if}}">               
    <div id="chat">
      {{#each get_messagesI5}}
               
        <div class="ibox collapsed">
          <div class="posts page " >   
            <!--en la instacia 2 permite hacer click y desplegar los comentarios -->
            <div class="post  " style="" title="" >
                  <div class="post-content">
                    <!--muestra la idea -->
                      <p>
                        {{author}} :&nbsp; &nbsp; {{messageBox}}                        
                      </p>
                  </div> 

                   <!-- Solo puede compartir el autor -->
                  {{#if siInstancia5}}
                  
                    <!--<div class="pull-right"> <button id="comp_{{_id}}" name="comp" class="comp" >Comp</button>&nbsp; &nbsp;{{compartir}} </div>-->
                   
                    <div class="pull-right checkbox-success">
                      <input id="comp_{{_id}}" name="comp" class="comp styled" type="checkbox" {{chequeado}} />  &nbsp; &nbsp;{{votosComp}}
                    </div>   
                  
                  {{/if}} 
            </div> 
          </div>
        </div>  
       {{/each}}
    </div>  
  </div>


   <div id="div_instancia6" style="{{#if siInstancia6}} display:block {{else}} display:none {{/if}}" > 
    <div id="chat">
      {{#each get_messages_compI6}}
        <div class="ibox collapsed">
          <div class="posts page " > 

            <!--en la instacia 2 permite hacer click y desplegar los comentarios -->
            <div class="post  {{#if siInstancia6}} collapse-link{{/if}}" style=" {{#if siInstancia6}} cursor:pointer;{{/if}}" title=" {{#if siInstancia6}} ver comentarios {{/if}}" >
                  <div class="post-content">
                    <!--muestra la idea -->
                      <p>
                         {{grupoIdeaComp}} : {{messageBox}}                        
                      </p>
                  </div>
                  <!--Todos pueden comentar ideas -->
                  {{#if siInstancia6}} 
                    <a class="coment pull-right fa fa-comments" name="{{_id}}" title="Comentar Idea"></a>
                  {{/if}} 
                  <!-- Solo puede editar el autor 
                  {{#if siInstancia7}}
                    {{#if ownIdea}}
                      <a class="editar pull-right" name="{{_id}}">Editar</a>
                    {{/if}}                          
                  {{/if}} -->
                 
                 
            </div>
            <!-- Comentarios, en el Deplegable -->
            {{#if siInstancia6}}
              <div id="" class="ibox-content">
                <div class="panel-body">                              
                  <div class="col-md-6 page pull-right">
                    <div>
                      {{#each get_comentarios_comp}}
                        <p style="margin-left:40%">
                          {{comentario}}
                        </p>                      
                      {{/each}}
                    </div>
                  </div>
                </div>
              </div>
            {{/if}}  
          </div>
        </div>  
      {{/each}}
    </div>          
           
     
  </div>


   <div id="div_instancia7" style="{{#if siInstancia7}} display:block {{else}} display:none{{/if}}">               
    <div id="chat">
      {{#each get_messages_compI7}}         
        <div class="ibox collapsed">
          <div class="posts page " > 
            <!--en la instacia 2 permite hacer click y desplegar los comentarios -->
            <div class="post  {{#if siInstancia7}} collapse-link{{/if}}" style=" {{#if siInstancia7}} cursor:pointer;{{/if}}" title=" {{#if siInstancia7}} ver comentarios {{/if}}" >
                  <div class="post-content">
                    <!--muestra la idea -->
                      <p>
                          {{messageBox}}                        
                      </p>
                  </div>  
                  <!-- Solo puede editar el autor -->
                  {{#if siInstancia7}}
                    {{#if ownIdea}}
                      <a class="editar pull-right fa fa-edit" name="{{_id}}" title="Editar Idea"></a>
                    {{/if}}  
                  {{/if}}
            </div>  
            <!-- Comentarios, en el Deplegable -->
            {{#if siInstancia7}}
              <div id="" class="ibox-content">
                <div class="panel-body">                              
                  <div class="col-md-6 page pull-right">
                    <div>
                      {{#each get_comentarios_comp}}
                        <p style="margin-left:40%">
                          {{comentario}}
                        </p>                      
                      {{/each}}
                    </div>
                  </div>
                </div>
              </div>
            {{/if}}  
          </div>
        </div>  
      {{/each}}
    </div>  
  </div>

  
   <div id="div_instancia8"  style="{{#if siInstancia8}} display:block {{else}} display:none{{/if}}">  
  
    <div class="ibox-content">

      <table class="table table-bordered" id="tablares" >
        <thead>
          <tr>
            <th>#</th>
            <th>Autor</th>
            <th>Idea</th>
            <th>Likes</th>
            <th>Ficha Idea</th>
          </tr>
         </thead>  

        <tbody>

           {{#each get_messagesI8}}
            <tr>
                <td class="numIdea">{{num_idea}}</td>
                <td>{{get_autor}}</td>
                <td>{{messageBox}}</td>
                <td>{{votos}}</td>
                <td>
                    {{#if siInstancia8}}
                      {{#if ownIdea}}
                        <a class="ficha pull-right fa fa-file-text" name="{{_id}}" title="Llenar ficha"></a>
                      {{/if}}  
                    {{/if}}
                </td>
            </tr>                  
            {{/each}}

         
         
        </tbody>                              
      </table>
    </div>
  </div>



</template>

  
  
 <!-- <template name="messagesComp">
  <div id="chat2" style="display:none">
    <div id="accordion" >
    {{#each get_messages}}
      <h4>{{get_username}}: {{messageBox}}   {{get_gruponame idgrupo}} <a class="coment" name="{{_id}}">Comentar</a></h4> 
    <input type="hidden" name="idideaH" value="{{_id}}" />
            <div>
            {{#each get_comentarios _id}}
              <p style="margin-left:40%">{{comentario}}   {{author}} </p>                      
            {{/each}}
            </div>
    {{/each}}
  </div>
  </div>
  </template>


 <template name="editIdeaModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Editar Idea</h4>
                </div>

                <div class="modal-body">
                    <label for="name">Idea</label>
                    <textarea id="editidea"> </textarea>
                    <input id="idIdeaModal" type='hidden'/>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="save">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</template> -->

   <!-- <button id="comp" name="comp">Comp.</button> {{compartido}}
                                  <button id="editar" name="editar">Edit</button>
                                  <ul class="votos">
                                      <li class="voting_btn up_button" data-voto="likes" data-id="6"><span>{{votos}}</span></li>
                                  </ul>  likes_votado --> 
  
 <!-- <div class="modal fade">
                              <div class="modal-dialog">
                                  <div class="modal-content">

                                      <div class="modal-header">
                                          <h4 class="modal-title">Editar Idea</h4>
                                      </div> 

                                      <div class="modal-body">
                                          <label for="name">Idea</label>
                                          <textarea id="editidea"> </textarea>
                                          <input id="idIdeaModal" type='hidden'/>

                                      </div>

                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" id="save">Save</button>
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                      </div>

                                  </div>
                              </div>
                          </div> -->
 <!-- <button id="editar" name="editar">Edit</button>
                                  <ul class="votos">
                                      <li class="voting_btn up_button" data-voto="likes" data-id="6"><span>{{votos}}</span></li>
                                  </ul>  likes_votado -->  

                                   <!--  {{> circularProgress canvasSize=100 arcWidth=5 outerDivClass="outer-div" innerDivClass="inner-div" borderClass="outer-border" progressClass="progress-circle" textClass="progress-text" tweenDuration=temporizador }} -->

   <!-- {{#with circularOptions}}
    {{> circularProgress}}
   {{/with}} -->
  
  <!--muestra la instancia en la que nos encontramos-->

