<template name="grupoSubmit">
  <br>
  <div class="col-md-12 page">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Crear Grupo </h4>
        </div> 


         <div class="panel-body">        
          <form class="main form">
             <div class="form-group">
                 <label class="control-label" for="gr">Grupo</label>
                 <div class="controls">
                        <input name="gr" id="gr" type="text" value="" placeholder="" class="form-control" required/>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label" for="descripcion">Descripcion del Grupo</label>
                    <div class="controls">
                        <input name="descripcion" id="descripcion" type="text" value="" placeholder="" class="form-control" required/>
                    </div>
                  </div>

                  <div class="form-group">
                        <label class="control-label" for="tematica">Tematica</label>
                        <div class="controls">

                            <select class="input-xlarge country" id="tematica" name="tematica">
                                 <option value="-1" selected>Seleccione...</option>
                                {{#each get_sesiones}}
                                   <option value="{{_id}}" data-id={{_id}}>{{SC}}</option>
                                {{/each}}
                            </select> 
                        </div>
                  </div>

                  <div class="form-group">
                        <label class="control-label" for="sesion">Sesion</label>
                        <div class="controls">

                            <select class="input-xlarge country" id="sesion" name="sesion" disabled>
                                 <option value="-1" selected>Seleccione...</option>
                                {{#each get_sesiones2}}
                                   <option value="{{_id}}" data-id={{_id}}>{{fecha1}}&nbsp;&nbsp; {{hora1}}  ({{nombre}})</option>
                                {{/each}}
                            </select> 
                        </div>
                  </div>

       <!--  <div class="panel panel-default">      
            <div class="panel-heading">
              <h4>Fecha | Hora de Vigencia </h4>
            </div>
        </div> -->
                   
                 
                          
                   <!--  <div class='col-sm-5'>
                        <div class="form-group col-sm-4">
                                <label class="control-label" for="fecha1">Inicio</label> 
                        </div>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker1'>
                                <input  class="form-control" name="fecha1" id="fecha1" type="text"  placeholder="" required />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div> -->

                     
                    <!-- <div class='col-sm-5'>
                        <div class="form-group col-sm-4">
                               <label class="control-label" for="fecha2">Fin</label>
                        </div>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker2'>
                                    <input  class="form-control" name="fecha2" id="fecha2" type="text"  placeholder="" required />
                                    <span class="input-group-addon">
                                         <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>    
                        </div>        
                    </div> -->
                          
                 <br>
              	 <br>

                  <input type="submit" value="Guardar" class="btn btn-primary"/>

                </form>
        </div>

      </div>
  </div>

  
</template> 

