<template name="sesionSubmit">
  <div class="col-md-12 page"   >
      <div class="panel panel-default">

        <div class="panel-heading">
          <h4>Crear Sesion </h4>
        </div> 

	    <div class="panel-body" >        
          <form class="main form">

             <div class="form-group">
                <label class="control-label" for="sesion">Nombre</label>
                <div class="controls">
                    <input type="text" id="nombre" name="nombre" class="form-control" style="max-width:50%"/>
                </div>
            </div>

	        <div class="form-group">
                <label class="control-label" for="sesion">Tematica</label>
                <div class="controls">
                    <select class="input-xlarge country" id="sesion" name="sesion">
                        <option value="-1" selected>Seleccione...</option>
                        {{#each get_tematicas}}
                           <option value="{{_id}}" data-id={{_id}}>{{SC}}</option>
                        {{/each}}
                    </select> 
                </div>
            </div>

            <!--<div class="form-group">
                <label class="control-label" for="animador">Animadores</label>
                <div class="controls">
                    <select class="input-xlarge country" id="animador" name="animador" required multiple >
                      
                      {{#each get_animadores}}
                        <option value="{{_id}}" data-id="{{_id}}">{{username}}</option>
                      {{/each}}
                    </select>
                </div>
            </div>-->

            <div class="panel panel-default">      
                <div class="panel-heading">
                  <h4>Fecha | Hora de Vigencia </h4>
                </div>
            </div>

            <div class='col-sm-5'>
                <div class="form-group col-sm-4">
                    <label class="control-label" for="fecha1">Inicio</label> 
                </div>
                
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input  class="form-control" name="fecha1" id="fecha1" type="text"  placeholder="" required />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                    </div>
                </div>
            </div>

                         
            <div class='col-sm-5'>
                <div class="form-group col-sm-4">
                    <label class="control-label" for="fecha2">Fin</label>
                </div>
                
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker2'>
                        <input  class="form-control" name="fecha2" id="fecha2" type="text"  placeholder="" required />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                    </div>    
                </div>        
            </div>
                              
            <br>
            <br>
            <br>
            

            <div class="panel panel-default">      
                <div class="panel-heading">
                  <h4> Instancias </h4>
                </div>
            </div>
    
            {{#each get_instancias}}
                <div class='col-sm-6'>
                    <div class="form-group col-sm-4 ">
                        <label class="control-label" for="instacia{{numero}}" tittle="{{descripcion}}">Instacia {{numero}}: {{nombre}} </label> 
                    </div>
                    
                    <div class="form-group">
                        <input type="number" id="instancia{{numero}}" name="instancia{{numero}}" min="1" max="60" alt="minutos" class="form-control instancias" value="1" style="max-width:100px"/> 
                    </div>
                </div>
                
               
            {{/each}}
                         
            <!--<div class='col-sm-6'>
                <div class="form-group col-sm-4">
                    <label class="control-label" for="instancia2">Instacia 2</label>
                </div>
                
                <div class="form-group">
                    <input id="instancia2" name="instancia2" type="range" min="15" max="60" step="5"  alt="minutos"/> 
                </div>        
            </div>-->
                            
        

            <input type="submit" value="Guardar" class="btn btn-primary"/>
            
           
           </form>
        </div>

      </div>
  </div> <br>

  
</template> 

