<template name="TmplModalRemove">

    <div id="removeModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Eliminar Usuario</h4>
          </div>
          <div class="modal-body">
            <h4>Usted esta seguro de eliminar a?</h4>
            <p>{{data._id}} | {{data.profile.nombre}}</p>
          </div>
          <div class="modal-footer">
              <div class="form-group">

      			<button type="button" id="confirmTrue" class="btn btn-primary" data-dismiss="modal">Yes</button>
      			<button type="button" id="confirmFalse" class="btn btn-warning" data-dismiss="modal">No</button>

      		</div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</template>
