<template name="navigationinicio">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <!-- <img alt="image" class="img-circle" src="img/profile_small.jpg" /> -->

                            <img alt="image" class="img-circle" src={{dataUriAvatar}}   height="60" width="60" />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong>
                             </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                           <!--  <li><a href="{{pathFor route='profile'}}">Profile</a></li>
                            <li><a href="{{pathFor route='contacts'}}">Contacts</a></li>
                            <li><a href="{{pathFor route='mailbox'}}">Mailbox</a></li>
                            <li class="divider"></li>
                          -->   <li><a href="{{pathFor route='signOut'}}">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>

                <li class="{{isActiveRoute Sesiones Creatividad='Iniciar | Inscribirse | Historial'}}">
                    <a href="#"><i class="fa fa-users"></i> <span class="nav-label">Sesiones Creatividad</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level {{isActiveRoute regex='Iniciar|Inscribirse|Historial' className='in'}}">
                        <li class="{{isActiveRoute regex='Iniciar'}}"><a href="{{pathFor route='sesionList'}}">Iniciar </a></li>

                         <li class="{{isActiveRoute regex='Inscribirse'}}"><a href="{{pathFor route='sesionDispo'}}">Inscribirse en una sesion de creatividad </a></li>
                    <!--    <li class="{{isActiveRoute regex='Historial'}}"><a href="{{pathFor route='reg'}}">Historial </a></li>
                  -->
                    </ul>
                </li>

               <li class="{{isActiveRoute DatosPersonales='AdminUsu | Avatar|Reg'}}">
                    <a href="#"><i class="fa fa-users"></i> <span class="nav-label">Datos Personales</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level {{isActiveRoute regex='AdminUsu|Avatar|Reg' className='in'}}">
                        <li class="{{isActiveRoute regex='AdminUsu'}}"><a href="{{pathFor route='adminUsers'}}">Gestion Usuarios</a></li>
                       
                        <li class="{{isActiveRoute regex='Avatar'}}"><a href="{{pathFor route='subirfoto'}}">Avatar </a></li>
                        <li class="{{isActiveRoute regex='Reg'}}"><a href="{{pathFor route='reg'}}">Reg </a></li>
                 
                    </ul>
                </li>
            </ul>

        </div>
    </nav>
</template>