<template name="listasignacion">
 
    <div class="col-md-12 page">
          <div class="panel panel-default">

              <div class="panel-heading">
                <h4>Listado de Asignacines</h4>
              </div>
           </div>
    </div>
</template>


<!-- <template name="item_grupo">
  <div class="post">
    <div class="post-content">
	  
	  <h3>
		  	<a href="">{{gr}}</a>		  	
			<span>Tematica: {{sesionG}}</span> &nbsp;&nbsp;&nbsp;
      <span>Fecha Inicio:</span> &nbsp;&nbsp;&nbsp;
      <span>Hora de Inicio:</span> &nbsp;&nbsp;&nbsp;      
      <span>Fecha Fin:</span> &nbsp;&nbsp;&nbsp;
      <span>Hora de Finalizacion:</span> &nbsp;&nbsp;&nbsp;
	  </h3>

    <span >Descripcion:  {{descripcion}}</span>
    </div>
    
  </div>
</template> -->
