<template name="modalesAnimGrupos">  
    
    <!-- ++++++++++++++++++++++++ ASIGNA ANIMADORES +++++++++++++++++++-->
    <div class="modal fade" id="modal_asigna_grupos" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content" style="min-width: 300px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Asignar Grupos al Animador</h4>
            </div> 

           <!--{{#autoForm id="asignaAnimGrupos" collection="Users_sesions" schema=Users_sesionsSchemaBasic_anim_grupos_form }} 
            <div class="modal-body"> 
                {{> afQuickField name='grupoIds' id='grupoIds'  options=grupos_Opts multiple=true}}
                
                {{> afQuickField name='iduser' id='iduser' type='hidden' }}
            </div>

            <div class="modal-footer">                    
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" >Guardar</button>
            </div>
            {{/autoForm}}-->


            <div class="modal-body">
                <form  id="asignaAnimGrupos">  
                    <label class="control-label" for="sesion">Grupos</label>
                    <select class="input-xlarge country" id="grupoIds" name="grupoIds" multiple style="min-width: 50%">
                        {{#each get_grupos}}
                           <option value="{{_id}}" data-id={{_id}}>{{gr}}</option>
                        {{/each}}
                    </select>
                    <input name='iduser' id='iduser' type='hidden'>
                </form> 
            </div>

            <div class="modal-footer">                    
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary guardar" >Guardar</button>
            </div>
          </div> 
        </div>
    </div>

</template>

