<template name="compartirSubmit">

  <div class="col-md-12 page">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Seleccion de Grupos para Compratir Ideas</h4>
          </div>

          <div class="panel-body">

            <form id="types1" novalidate="novalidate">

                <div class="form-group">
                    <label class="control-label" for="sesion">Sesion</label>
                    <!--<div class="controls">-->

                        <select class="input-xlarge country" id="sesion" name="sesion">
                             <option value="-1" selected>Seleccione...</option>
                            {{#each get_sesiones}}
                               <option value="{{_id}}" data-id={{_id}}>{{get_tematica_name}}: {{fecha1}}&nbsp; {{hora1}}  ({{nombre}})</option>
                            {{/each}}
                        </select> 
                    
                </div>
                
               <div class="form-group"> 

                      {{> tabular table=TabularTables.compgruposTab selector=selector class="table table-striped table-bordered table-condensed"}}
               </div>
            </form>

            <div class="form-group" style="float:left">
                <button type="button" class="btn btn-primary" id="newgruposcomp"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo</button>
            </div>
          </div>
      </div>                          
  </div>    

  {{>modalesGruposComp}}
</template>