<!--<template name="listadorol">

<div class="col-md-12 page">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h4>Listado de Rol</h4>
        </div>

         {{#each Roles}}
          {{> item_rol}} 
         {{/each}}	
      </div>
</div>
</template>


<template name="item_rol">
  <div class="post" >
    <div class="post-content">
	  
  	  <h3>
  		  	<a href="">{{role}}</a>
         <span>Autor: {{author}}</span>
  	  </h3>  
      <span >{{descripcion}}</span>
    </div>
    
  </div>
</template>-->