<template name="list_sesion">

<div class="col-md-12 page">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h4>Listado de Tematicas Activas</h4>
        </div>
        <table id="tablatematica"  class="table table-striped" >
              <thead>
                  <tr>
                    <th  width="300px" align="left"> Tematica</th>
                    <th  width="300px" align="center"> Autor</th>
                    <th  width="300px" align="right"> Descripcion</th>
                  </tr>
              </thead>
          </table>

         {{#each Creatividad}}         
          {{> item_sesion}}           
         {{/each}}  


      </div>
</div>
</template>


<template name="item_sesion">
  <!--  <div class="post" >
   <div class="post-content">
     <div class="ibox-content"> -->
     <div>

    <table id="tablatematica"  class="table table-striped" >
        <thead>
            <!-- <tr>
              <th> Tematica</th>
              <th> Autor</th>
              <th> Descripcion</th>
            </tr> -->
        </thead>
        <tbody >
         <tr class="fila" id="">
           <td class="filtroemp" align="left"  width="300px" >
             <div class="controls" >
               {{SC}}
             </div>
           </td>

           <td class="filtroemp" align=""  width="300px" >
             <div class="controls" >
               {{author}}
             </div>
           </td>

           <td class="filtroemp" align=""  width="300px" >
             <div class="controls">
              {{Des}}
             <a> <span class="see_more_link_inner">Ver más</span> </a>
             </div>
           </td>
         </tr>
          
        </tbody>
    </table>
    
   <!-- <h3>
             <a href="">{{SC}}</a>
             <span>Autor: {{author}}</span>
             <span >{{Des}}</span>
          </h3>   
 -->

    </div>
    
  <!-- </div> -->
</template>
 