<template name="list_grupo">
 
<div class="col-md-12 page">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h4>Listado de Grupos</h4>
        </div>

    {{#each Grupo}}
      {{> item_grupo}} 
    {{/each}}
	
  </div>
</div>
</template>


<template name="item_grupo">
  <div class="post">
    <div class="post-content">
	  
	  <h2>
		  <a href="">{{gr}}</a>		  	
    </h2>

    <h4>
			<span>Tematica: {{sesionG}}</span> &nbsp;&nbsp;&nbsp;
    </h4>

    <h5>
      <span>Fecha Inicio:</span> &nbsp;&nbsp;&nbsp;
      <span>Hora de Inicio:</span> &nbsp;&nbsp;&nbsp;      
      <span>Fecha Fin:</span> &nbsp;&nbsp;&nbsp;
      <span>Hora de Finalizacion:</span> &nbsp;&nbsp;&nbsp;
    </h5>
	  

   <!--  <span >Descripcion:  {{descripcion}}</span> -->
    </div>
    
  </div>
</template>
