<template name="tematicaSubmit">

    <br>
    <div class="col-md-12 page">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Crear Tematica</h4>
        </div>
        <div class="panel-body">
  
              <!--<form id="types1" novalidate="novalidate">
                
                <div class="form-group">
                
                  <label class="control-label" for="SC">Tematica</label>
                  <input name="SC" id="SC" type="text" value="" placeholder="" class="form-control"/>
                  
                  <span class="help-block"></span>

                  <label class="control-label" for="Des">Descripcion</label>
                  <input name="Des" id="Des" type="text" value="" placeholder="" class="form-control"/>
                  
                </div>

                <div class="form-group">
                  <input type="submit" value="Guardar " class="btn btn-primary"/>
                </div>
              
              </form>-->

            {{> quickForm collection="Tematica" schema="TematicaBasicSchema" id="tematicaSubmit" type="insert"}}
  
        </div>
      </div>
  </div>


</template>