<!-- <template name="modalNombre">
  <div class="mask"> </div>
  <form class="modal demeNombre">
    <div class="modal-header">
      <button type="button" class="close cancel">&times;</button>
      <h3>Ingresar nombre del archivo </h3>
    </div>

    <div class="modal-body">
      
      <div class="control-group">
        	<div class="controls">
        	<p class="help-block"></p>
        	  <label>Nombre</label>
        	    <input type="text" id="nombreArch" class=" span5" >
        	</div>
      </div>
   
    </div>

    <div class="modal-footer">
    	<a href="#" class="btn cancel">Cancel</a>
    	<button type="submit" class="btn btn-primary save">Save</button>
    </div>
  </form>
</template>

 -->