<template name="tematicaList">

<div class="col-md-12 page">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h4>Listado de Tematicas</h4>
        </div>

         {{#each Tematica}}
              <div class="post" >
                  <div class="post-content">
                  
                  <h3>
                      <a href="">{{SC}}</a>
                     <span>Autor: {{author}}</span>
                  </h3>
                  
                  <span >{{Des}}</span>

                  </div>    
              </div>
         {{/each}}	
      </div>
</div>
</template>


