<template name="sesionDispo">



        {{#each sesionTodas}}

        <div class="col-lg-10">
                <div class="jumbotron">
                    <h1>{{tematicadelasesion}}</h1>
                    <p>{{descripciondelatematica}}</p>
                    
                     <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    Nombre de la sesion
                                </th>
                                <th>
                                    Dia y hora de Inicio
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>{{nombre_sesion}} </td>
                                <td>{{ dia_y_hora}} </td>
                            </tr>
                            </tbody>
                        </table>
                        <p><a href="http://www.jquery-steps.com/GettingStarted" target="_blank" class="btn btn-primary btn-lg btn-block" role="button">Inscribirse</a>
                    </p>
                </div>
         </div>
              <div class="panel-body">
                  <div class="posts page">
           <!--                                     
                         {{mostrame}}
                        <h4> <span>Tematica: {{tematicadelasesion}}</span> </h4>
                         
                        <h5><span>Sesion: {{sesionnameA }}</span></h5> -->
                  </div>
              </div>
        {{/each}}

 

</template>           