<template name="gInsc_aceptar">
	
	<div class="pull-center checkbox-success">
      <input id="aceptar_{{user_id}}" name="aceptar" class="aceptar styled" type="checkbox" {{checkeado}} />  &nbsp; 
    </div> 
   
</template>




<template name="gInsc_selectgrupo">
	
	 <div class="form-group">
        <select class="input-xlarge country grupo" id="grupo_{{user_id}}" name="grupo" {{desactivado}}>
            <option value="-1" selected>Seleccione...</option>
            {{#each get_grupos}}
               <option value="{{_id}}" data-id={{_id}}>{{gr}}</option>
            {{/each}}
        </select> 
    </div> 
   
</template>