<template name="list_inscriptos">  

    <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Listado de Inscriptos por Sesion</h4>
        </div> 

        <div class="panel-body">
  
            <form id="types1" novalidate="novalidate">

                <div class="form-group">
                    <label class="control-label" for="sesion">Sesion</label>
                    <!--<div class="controls">-->

                        <select class="input-xlarge country" id="sesion" name="sesion">
                             <option value="-1" selected>Seleccione...</option>
                            {{#each get_sesiones}}
                               <option value="{{_id}}" data-id={{_id}}>{{get_tematica_name}}: {{fecha1}}&nbsp; {{hora1}}  ({{nombre}})</option>
                            {{/each}}
                        </select> 
                    
                </div>
                
               <div class="form-group"> 

                   	<!--<table class="table table-striped table-bordered table-hover dataTables-example dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" role="grid">

                        <thead>
                        	<tr role="row">
                                <th> # </th>

                        		<th >Nombre</th>

                        		<th>Apellido</th>

                        		<th>Sesion</th>

                        		<th>Perfil</th>
                        	</tr>
                        </thead>

                        

                        <tfoot>
                            {{#each get_inscriptos}}
        	                    <tr>
                                    <td rowspan="1" colspan="1">{{get_num}}</td>
        	                    	<td rowspan="1" colspan="1">{{get_nombre}}
                                        {{setiduser}}
                                    </td>
        	                    	<td rowspan="1" colspan="1">{{get_apellido}}</td>
        	                    	<td rowspan="1" colspan="1">
                                        <div class="pull-center checkbox-success">
                                          <input id="aceptar_{{_id}}" name="aceptar" class="aceptar styled" type="checkbox" {{checkeado}} />  &nbsp; 
                                        </div> 
                                    </td>
        	                    	<td rowspan="1" colspan="1">
        	                    		<div class="form-group">
                                            
                                            <div class="controls">
                                                <select name="perfil">                    
                                                    {{#each get_subroles}}
                                                       <option value="{{nombre}}" data-id={{nombre}} {{seleccionado}}>{{nombre}}</option>
                                                    {{/each}}
                                                </select> 
                                            </div>

                                        </div>

        	                    	</td>
        	                    </tr>  
                            {{/each}}                  	
                        </tfoot>
                    </table>   -->
                      {{> tabular table=TabularTables.inscriptosTab selector=selector class="table table-striped table-bordered table-condensed"}}
               </div>
            </form>

            <!--<div class="form-group" style="float:left">
                <button type="button" class="btn btn-primary" id="newsesion"><i class="fa fa-plus" aria-hidden="true"></i> Nueva Sesion</button>
            </div>-->
        </div>
    </div>



   
</template>